<h1>New Source</h1>
<div class="container">
  <%= form_for @source do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :source_type %>
  <%= f.text_field :source_type %>
  <br>
  <%= f.label :calories %>
  <%= f.text_field :calories %>
  <br>
  <%= f.submit %>
  <% end %>
</div>
